.first_section_block_inner{
    display:  flex;
    align-items: baseline;
}
.first_section_block_inner_text{
    min-width:  131px;
}
.first_section_block_inner_input{
    margin-left: 150px;
    width: 2000px;
    height: 30px;
    margin-top: 20px;
}
.button_find{
    margin-top: 20px;
}

/*MENU cards*/

.menu__cards{
    padding: 30px 0 60px;
}


.menu__cards-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.menu__cards-item{
    max-width: 235px;
    width: 100%;
}

.menu__cards-img img{
    width: 100%;
}

.menu__cards-item-box{
    padding: 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.menu__cards__box-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 5px;
}

.menu__cards-text{
    text-align: center;
}



