.section_block{
    padding: 50px 200px;
}
.block_text_input{
    display:  flex;
    align-items: baseline;
}
.block_text_input_input{
    margin-left: 280px;
    height: 25px;
    width: 600px;
}
.information_text{
    min-width: 140px;
}
.options{
    margin-left: 280px;
}
.error_text{
    margin-left: 24px;
}
.img_block{
    margin-bottom: 8px;
}