.section_block{
    margin-top: 80px;
}
.main_text{
    margin-top: 15px;
    font-weight: bold;
    font-family: "Times New Roman", serif;
    margin-bottom: 4px;
}
.information_text{
    font-family: "Times New Roman", serif;
    margin-bottom: 4px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    padding-right: 800px;
}