<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main_page.css}">
</head>
<body class="body_block">
<header>
    <div class="first_block">
        <img src="/static/img/logo.png" alt="logo">
        <h1 class="first_block_text" >Movie Database Sample</h1>
    </div>
    <div class="second_block">
        <a href="">Фильмы</a>
        <a href="">Актеры</a>
        <a href="">Режиссеры</a>
        <a href="">Топ-10</a>
    </div>
</header>
<section>

</section>
<footer class="footer_block">
    <p>Movie Database Sample, 2023</p>
</footer>
</body>
</html>