<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/main_page.css}">
  <link rel="stylesheet" th:href="@{/css/movie_details_page.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="body_block">
<header>
  <div class="first_block">
    <img th:src="@{/img/logo.png}" alt="logo">
    <h1 class="first_block_text" >Movie Database Sample</h1>
  </div>
  <div class="second_block">
    <a href="">Фильмы</a>
    <a href="">Актеры</a>
    <a href="">Режиссеры</a>
    <a href="">Топ-10</a>
  </div>
</header>
<section class="section_block">
  <img th:src="@{/img/images.jpeg}" alt="img">
  <p class="main_text"><spam>Название фильма: </spam> <span th:text="${movie.name}" >Harry Potter and the</span></p>
  <p class="information_text"><spam>Год производиства: </spam> <span th:text="${movie.year}">2011</span></p>
  <p class="information_text"><spam>Рейтинг: </spam> <span th:text="${movie.rating}">8.1</span></p>
  <p class="information_text"><spam>Жарн: </spam> <span th:text="${movie.genre}">Adventure</span></p>
  <p class="information_text"><spam>Режиссеры: </spam> <span th:each="director : ${movie.directors}" th:text="${director.name}">David Yates</span></p>
  <p class="information_text"><spam>Актеры: </spam> <span th:each="actor : ${movie.actors}" th:text="${actor.name}">David Yates</span></p>
  <div class="buttons">
    <a th:href="@{/movie/}" class="btn btn-primary" type="submit">Назад</a>
    <form th:action="@{/detail/delete}" th:method="POST">
      <input type="hidden" name="id" th:value="${movie.id}">
      <button th:if="${#authorization.expression('isAuthenticated()')}" class="btn btn-primary" type="submit">Удалить</button>
    </form>
      <a th:href="@{/detail/edit/{id}(id=${movie.id})}" th:if="${#authorization.expression('isAuthenticated()')}" class="btn btn-primary" type="submit">Редактировать</a>
  </div>
</section>
<footer class="footer_block">
  <p>Movie Database Sample, 2023</p>
</footer>
</body>
</html>